This is also required to adhere to the current Certificate Transparency spec. [RFC6962, section 3.3](https://tools.ietf.org/html/rfc6962#section-3.3), says "TLS clients MUST implement all three mechanisms." There is substantial use of the TLS extension (for example, Google domains typically serve SCTs via TLS extension rather than x.509v3 extension).

As part of this work `DefaultPolicy` will need to be updated to accommodate this.

If the SCTs were provided by TLS extensions or OCSP stapling then we only require two valid entries (Chrome forces 2 because of diversity rules), otherwise embedded SCTs continue to be checked as they are currently.

[Certificate Transparency in Chrome](https://github.com/chromium/ct-policy/blob/master/ct_policy.md#qualifying-certificate)
[Apple's Certificate Transparency policy](https://support.apple.com/en-gb/HT205280)
See Chromium source [CheckCTPolicyCompliance](https://chromium.googlesource.com/chromium/src/+/lkgr/components/certificate_transparency/chrome_ct_policy_enforcer.cc)